<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaveMeARoom"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AdminConfirmation"
            android:exported="false" />
        <activity
            android:name=".StatusRequests"
            android:exported="false" />
        <activity
            android:name=".adminClubConfirmation"
            android:exported="false" />
        <activity
            android:name=".adminCollegeConfirmation"
            android:exported="false" />
        <activity
            android:name=".RoomRequests"
            android:exported="false" />
        <activity
            android:name=".AdminUpdateConfirmation"
            android:exported="false" />
        <activity
            android:name=".adminResUpdateConfirm"
            android:exported="false" />
        <activity
            android:name=".AdminHome"
            android:exported="false" />
        <activity
            android:name=".adminReservationLogs"
            android:exported="false" />
        <activity
            android:name=".adminStatusLogs"
            android:exported="false" />
        <activity
            android:name=".adminUserLogs"
            android:exported="false" />
        <activity
            android:name=".adminUserlogInfo"
            android:exported="false" />
        <activity
            android:name=".adminReservationlogInfo"
            android:exported="false" />
        <activity
            android:name=".adminResConfirm"
            android:exported="false" />
        <activity
            android:name=".adminStatuslogInfo"
            android:exported="false" />
        <activity
            android:name=".myReservationConfirmation"
            android:exported="false" />
        <activity
            android:name=".BookConfirmation"
            android:exported="false" />
        <activity
            android:name=".cancelConfirmation"
            android:exported="false" />
        <activity
            android:name=".clubConfirm"
            android:exported="false" />
        <activity
            android:name=".editProfile"
            android:exported="false" />
        <activity
            android:name=".RoomSelection"
            android:exported="false"
            android:label="@string/title_activity_room_reservation"
            android:parentActivityName=".home"
            android:theme="@style/Theme.SaveMeARoom.NoActionBar" />
        <activity
            android:name=".TimeOccupancySelection"
            android:exported="false"
            android:label="@string/title_activity_time_occupancy_selection"
            android:parentActivityName=".home"
            android:theme="@style/Theme.SaveMeARoom.NoActionBar" />
        <activity
            android:name=".UpdateConfirmation"
            android:exported="false"
            android:label="@string/title_activity_update_confirmation"
            android:parentActivityName=".home"
            android:theme="@style/Theme.SaveMeARoom.NoActionBar" />
        <activity
            android:name=".UpdateTimeSelection"
            android:exported="false"
            android:label="@string/title_activity_update_time_selection"
            android:parentActivityName=".home"
            android:theme="@style/Theme.SaveMeARoom.NoActionBar" />
        <activity
            android:name=".UpdateDateSelection"
            android:exported="false"
            android:label="@string/title_activity_update_date_selection"
            android:parentActivityName=".home"
            android:theme="@style/Theme.SaveMeARoom.NoActionBar" />
        <activity
            android:name=".ReservationDateSelection"
            android:exported="false"
            android:label="@string/title_activity_reservation_date_selection"
            android:parentActivityName=".home"
            android:theme="@style/Theme.SaveMeARoom.NoActionBar" />
        <activity
            android:name=".createacc"
            android:exported="false"
            android:label="@string/title_activity_createacc"
            android:parentActivityName=".home"
            android:theme="@style/Theme.SaveMeARoom.NoActionBar" />
        <activity
            android:name=".forgotpass"
            android:exported="false"
            android:label="string/title_activity_forgotPass"
            android:parentActivityName=".home"
            android:theme="@style/Theme.SaveMeARoom.NoActionBar" />
        <activity
            android:name=".home"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SaveMeARoom.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>